/* Global override */
html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    list-style:none;
    margin:0;
    padding:0;
}

/* Font, color, border, margin*/
body{
    background:rgb(250,250,250);
    color:rgb(80,80,80);
}
.lists,
.description{
    background:white;
    padding:30px 20px;
    box-sizing:border-box;
}


h1,h2,h3,h4{
    font-family:"Roboto Condensed",sans-serif;
    margin-bottom:10px;
    padding:5px 0 5px 0;
}
p{ font-family: Georgia,serif; }
.list .list-heading{
    font-weight:normal;
    border-bottom:2px solid rgb(80,80,80);
}

/* Layout and positions */
html,body{
    width:100%;
}
.container{
    width:70%;
    margin:auto;
    position:relative;
}
    .container .lists{
        width:66%;
        margin:0 4% 0 0;
        float:left;
    }
        .container .lists>.list{
            width:46%;
            margin:0 2%;
            float:left;
        }
            .container .lists .list li{
                padding:10px 0;
                border-bottom:1px solid rgb(180,180,180);
            }
    .container .description{
        width:30%;
        margin:0 0;
        float:left;
    }

