/* Global override */
html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
body{
    position:relative;
}
#red{
    background:red;
    position:relative;
    width:100%;
    z-index:9999;
}
#green{
    background:green;
    clear:both;
}
#cyan{
    background:cyan;
    width:50%;
    float:left;
}
#blue{
    background:blue;
    width:30%;
    float:left;
}
#parent{
    border:5px solid black;
    position:relative;
    width:40%;
    float:left;
}
#purple{
    background:purple;
}
#yellow{
    background: yellow;
}
.box{
    min-height:100px;
}
